.container{
    position: relative;
    width: 350px;
    height: 347px;
    margin-right: 50px;
}
.cover{
    width: 350px;
    height: 347px;
    object-fit: cover;
}
.content{
    position: absolute;
    width: 350px;
    height: 124px;
    z-index: 2;
    overflow-x: hidden;
    bottom: 0%;
    left: 0%;
    background-color: blue;
    
}
.wrap{
    padding: 5px;
    height: 70px;
}
.h4{
    font-size: 18px;
    line-height: 29px;
}