.container{
    display: flex;
    justify-content:start;
    align-items: center;

}
@media(max-width:1024px){
    .container{
        display: grid;
        /* justify-content: start;
        flex-direction: column; */
        grid-template-columns: repeat(2,1fr);
        column-gap: 10px;
        
    }
}