.container{
    position: relative;
    width: 355px;
    height: 347px;
    margin:30px 50px 0 0;
}
.cover{
    width: 355px;
    height: 347px;
    margin-left: 50px;
    object-fit: cover;
}
.content{
    position: absolute;
    width: 355px;
    height: 131px;
    z-index: 2;
    overflow: hidden;
    bottom: 0%;
    left: 14.3%;
    background-color: blue;
    
}
.wrap{
    padding: 5px;
}
.h4{
    font-size: 20px;
    line-height: 20px;
}
.p{
    font-size: 14px;
    line-height: 20px;
}