.container{
    overflow-x: hidden;
}
.searchBar{
    padding: 3 15px;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    transform: translateX(230px);
    overflow: hidden;
    transition: all 1s; 
    border-bottom: 2px solid white;
}
.searchBarShow{
    transform: translateX(0px);    
}
.input{
    width: 170px;
    height: 30px;
    color: white;
    background: transparent;
    /* opacity: .5; */
    border: none;
    margin: 3px 0 0 5px;
}
.input:focus{
    outline: none;
    color: white;
}
.svg{
    width: 37.05px;
    height: 27.08px;
    position: absolute;
    right: 8.48%;
    top: 12.71%;
    border-bottom: 2px solid white;
    margin-top: 5px;
    display: block;
}
