.container{
    overflow-x: hidden;
    /* margin-bottom: 2px; */
    margin: 94px 201.48px 3px 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.svgWrapBgShow{
    background-color: azure;
    transition: 1s;
}
.searchBar{
    padding: 3 15px;
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    transform: translateX(230px);
    overflow: hidden;
    transition: all 1s; 
}
.searchBarShow{
    transform: translateX(0px); 
    border-bottom: 2px solid white; 
    background-color: azure ;
    /* opacity: .5; */
}
.input{
    width: 170px;
    height: 30px;
    color: white;
    background: transparent;
    border: none;
    margin: 4px 0 0 5px;
    border-bottom: 2px solid white;
}
.input:focus{
    outline: none;
    color: black;
}

.svg{
    width: 37.05px;
    height: 27.08px;
    border-bottom: 2px solid white;
    margin-top: 7px;
    display: block;
    /* z-index: 3; */
}
