.container{
    width: 100%;
    /* justify-content: end; */
    margin: 30px 0px;
    margin-left: 15px;
    /* padding:10px ; */
}
.h4{
    font-size: 34px;
    color: black;
}
@media(max-width:1024px){
    .container{
        margin-left: 0px;
    }
}
